<% if user_signed_in? %>
  <h1>Profile, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <div class="container">
  <div class="column-left">
    <h1>doctors</h1>
    <% User.all.each do |doctor| %>
      <div class="card border-dark mb-3">
        <div class="card">
          <div class="card-body">
            <p>name: <%= doctor.email %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column-center">
    <h1>appointments</h1>
    <% User.all.each do |doctor| %>
      <div class="card border-dark mb-3">
        <div class="card">
          <div class="card-body">
            <p>name: <%= doctor.email %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
<% else %>
  <h1>please enter to Profile</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>