<h1>Admin profile, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <div class="container">
    <div class="column-left">
    <h1>patients</h1>
      <div class="scroll-container-admin">
        <% User.where(role: "patient").each do |patient| %>
          <div class="card border-dark mb-3">
            <div class="card">
              <div class="card-body">
                <p>patient`s name: <%= patient.email %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column-center">
    <h1>doctors</h1>
      <div class="scroll-container-admin">
        <% User.where(role: "doctor").each do |doctor| %>
          <div class="card border-dark mb-3">
            <div class="card">
              <div class="card-body">
                <p>doctor`s name: <%= doctor.email %></p>
                <p>doctor`s category: <%= doctor.categories.last.name %></p>
                <%= form_tag  assign_category_path, method: :patch do %>
                  <%= select_tag :assign_category, options_for_select(Category.all.map { |category| [category.name] }) %>
                  <%= hidden_field_tag :doctor_id, doctor.id %>
                  <%= submit_tag "Submit" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column-right">
    <h1>categories</h1>
      <%= form_for(:category, as: @category, url: create_category_path, method: :post) do |f| %>
        <div>
          <%= f.label :enter_name_of_category_for_create %>
          <%= f.text_field :name %>
          <%= f.submit %>
        </div>
      <% end %>
      <div class="scroll-container-admin">
        <% Category.all.each do |category| %>
          <div class="card border-dark mb-3">
            <div class="card">
              <div class="card-body">
                <p>category name: <%= category.name %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>